*.iml
.gradle
.kotlin
/local.properties
.idea/*
!.idea/codeStyles
!.idea/dictionaries
!.idea/.gitignore
!.idea/.name
.DS_Store
/build
/*/build/
**/build/
/captures
app/companieshouse.jks
app/app-release.apk
app/release
*.xcworkspace
xcuserdata
*.xcodeproj/*
*.xcodeproj/project.pbxproj
*.xcworkspace/contents.xcworkspacedata
/iosApp/PurecipesIOSApp/Pods/
/feature/auth/ui/ui.podspec

# Build outputs
/backend/bin/
/base/kotlin/bin/
